## Risk adjusted returns

Returns is not the full picture, we should also be able ot adjust for the levels of risk we are taking on. In this section we will explore measures of risk, as well as using the ready-built methods in some of the libraries.

In [8]:
import pandas as pd
import numpy as np
stock_prices = pd.DataFrame({"STOCK_A": [10, 11, 12, 18, 33, 40, 33],
                      "STOCK_B":[7, 9, 8, 10, 11, 12, 14]
                      })

In [9]:
stock_prices.pct_change() #Add plus 1 if desired

    STOCK_A   STOCK_B
0       NaN       NaN
1  0.100000  0.285714
2  0.090909 -0.111111
3  0.500000  0.250000
4  0.833333  0.100000
5  0.212121  0.090909
6 -0.175000  0.166667

## Accessing Excel Data
We can access Excel Data in our Jupyter notebook. 
Build a csv file on your own and store it in one fo your directories (Documents, MSTS, etc)
You can now access that file through a file path, which is what you input into the read_csv method to read the file into python.

In [19]:
#Use this to access the file
# sampled_prices = pd.read_csv('Directory/subdirectory/.../filename.csv')

#I will illustrate by retreiving a file in my Documents
#The name of my file is sample_price_data.csv

sampled_prices = pd.read_csv('sample_price_data.csv')

#Because my working directory is actually my documents,
# I do not need to specifiy that my folder is in Documents

sampled_prices

    Stock A   Stock B
0       1.0  1.000000
1       1.1  1.020000
2       1.2  1.040400
3       1.1  1.061208
4       1.2  1.082432
5       1.1  1.104081
6       1.3  1.126162
7       1.2  1.148686
8       1.7  1.171659
9       1.3  1.195093
10      1.2  1.218994
11      1.4  1.243374
12      1.6  1.268242
13      1.8  1.293607
14      1.9  1.319479
15      2.0  1.345868
16      2.0  1.372786
17      2.0  1.400241
18      2.0  1.428246
19      2.1  1.456811
20      1.9  1.485947
21      2.2  1.515666
22      2.7  1.545980
23      2.3  1.576899
24      2.3  1.608437

In [20]:
returns = sampled_prices.pct_change()
returns

     Stock A  Stock B
0        NaN      NaN
1   0.100000     0.02
2   0.090909     0.02
3  -0.083333     0.02
4   0.090909     0.02
5  -0.083333     0.02
6   0.181818     0.02
7  -0.076923     0.02
8   0.416667     0.02
9  -0.235294     0.02
10 -0.076923     0.02
11  0.166667     0.02
12  0.142857     0.02
13  0.125000     0.02
14  0.055556     0.02
15  0.052632     0.02
16  0.000000     0.02
17  0.000000     0.02
18  0.000000     0.02
19  0.050000     0.02
20 -0.095238     0.02
21  0.157895     0.02
22  0.227273     0.02
23 -0.148148     0.02
24  0.000000     0.02

In [21]:
returns.dropna()

     Stock A  Stock B
1   0.100000     0.02
2   0.090909     0.02
3  -0.083333     0.02
4   0.090909     0.02
5  -0.083333     0.02
6   0.181818     0.02
7  -0.076923     0.02
8   0.416667     0.02
9  -0.235294     0.02
10 -0.076923     0.02
11  0.166667     0.02
12  0.142857     0.02
13  0.125000     0.02
14  0.055556     0.02
15  0.052632     0.02
16  0.000000     0.02
17  0.000000     0.02
18  0.000000     0.02
19  0.050000     0.02
20 -0.095238     0.02
21  0.157895     0.02
22  0.227273     0.02
23 -0.148148     0.02
24  0.000000     0.02

In [22]:
returns.std()

Stock A    1.394596e-01
Stock B    3.156213e-10
dtype: float64

In [23]:
# This will give a slightly diffrent answer due to using population
# rather than sample distribution

deviations = returns - returns.mean()
squared_deviations = deviations**2
variance = squared_deviations.mean()
volatility = variance**0.5

# or we can do
volatility = np.sqrt(variance)
volatility

Stock A    1.365232e-01
Stock B    3.089759e-10
dtype: float64

In [24]:
returns.shape

(25, 2)

In [25]:
num_of_obs = returns.shape[0]
variance = squared_deviations.sum() / (num_of_obs - 2)
volatility = variance**0.5
volatility

Stock A    1.394596e-01
Stock B    3.156213e-10
dtype: float64

In [26]:
returns.std()*np.sqrt(12)

Stock A    4.831021e-01
Stock B    1.093344e-09
dtype: float64